<?xml version="1.0" encoding="utf-8"?>
<!--
/*  
 *  Copyright 2012 Mark Adamson
 *  
 *  This file is part of Monitor Lizard.
 * 
 *  Monitor Lizard is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Monitor Lizard is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Monitor Lizard.  If not, see <http://www.gnu.org/licenses/>.
 */
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.markadamson.snakemon.free"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">
        <service android:name=".SnakeMonService" android:enabled="true" android:label="@string/wallpaper_name" android:permission="android.permission.BIND_WALLPAPER" android:icon="@drawable/ic_launcher">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper"/>
        </service>
        <activity
            android:label="@string/settings_title"
            android:name=".SnakeMonSettings"
            android:exported="true">
        </activity>
    </application>

</manifest>